body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

h1 {
    font-weight: bold;
}

h1, p{
    margin: 0;
}

.radio {
    display: none;
}

label {
    cursor: pointer;
}

.container {
    color: #323232;
    width: 60%;
    border: solid 0.3rem #eff0f1;
    outline: solid 0.1rem #d0d7de;
    background-color: rgb(245, 245, 231);
    border-radius: 0.3rem;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    cursor: pointer;
}

.meme-item {
    border-top: solid 0.1rem #d0d7de;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

.meme-image {
    align-self: center;
    width: 25vw;
    height: 0;
    transition: 0.5s;
    margin-top: 1rem;
}

.meme-head {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.meme-icon {
    width: 1.25rem;
    height: 1.25rem;
    opacity: 0;
    transition: 0.5s;
    background-image: url(./assets/plus.svg);
    background-size: 1.25rem 1.25rem;
}

.meme-text {
    color: #4343ec;
    transition: 0.5s;
}

@media (min-width: 1250px) {
    .container:hover .meme-icon {
        opacity: 1;
    }

    .container:hover .meme-text {
        color: #323232;
    }

    .meme-item:hover .meme-icon {
        transform: rotate(45deg);
    }

    .meme-item:hover .meme-image {
        height: 25vw;
    }
}

input:checked + label .meme-image {
    height: 25vw;
}

input:checked + label .meme-icon {
    transform: rotate(45deg);
}

input:checked + label .meme-text {
    color: #323232;
}

input:active + label .meme-text {
    color: #4343ec;
}

.meme-item:active .meme-icon {
    background-image: url(./assets/plus_blue.svg);
}

.meme-item:active .meme-text {
    color:#4343ec;
}

.meme-item:active {
    opacity: 0.7;
}

@media (max-width: 820px) {

    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 1.6rem;
    }

    .container {
        width: 80%;
        padding: 1rem 2rem;
    }

    .meme-image {
        width: 60vw;
    }

    input:checked + label .meme-image {
        height: 60vw;
    }
}

@media (max-width: 320px) {

    body {
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    .container {
        width: 90%;
        padding: 0.3rem 0.5rem;
    }

    .meme-image {
        width: 85vw;
        margin-top: 0.2rem;
    }

    input:checked + label .meme-image {
        height: 85vw;
    }

    .meme-item {
        padding: 0.5rem;
    }
}
